PORT=4242
CLIENT_URL=http://localhost:5173
ADMIN_EMAILS=jerryandal27@gmail.com
STRIPE_SECRET_KEY=sk_test_your_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
STRIPE_STARTER_PRICE_ID=price_your_starter_price_id
STRIPE_PRO_PRICE_ID=price_your_pro_price_id
FIREBASE_DATABASE_URL=https://pixify-hq-default-rtdb.firebaseio.com
# Set this OR GOOGLE_APPLICATION_CREDENTIALS to a service-account JSON file path.
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"pixify-hq","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"...","client_id":"...","token_uri":"https://oauth2.googleapis.com/token"}
